  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
  }

  /* .select-rakhi-font {
    font-family: 'Hind Siliguri', sans-serif;
  } */


  [Home_Banner] .swiper-pagination {
    right: 1rem !important;
    width: fit-content;
    left: auto;
  }

  [Home_Banner] .swiper-pagination .swiper-pagination-bullet {
    background-color: #AA0B28;
  }

  .lb-number {
    display: none !important;
  }